* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    background-image: url('/ClacketMov/img/stranger-things-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #8ab4f8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}

.content {
    position: relative;
    z-index: 1;
}

.content h1 {
    font-size: 42px;
    font-weight: bold;
}

.content p {
    margin-top: 10px;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgba(68, 79, 230, 0.404);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.603);
}

.modal-content button {
    padding: 12px;
    background-color: rgba(104, 26, 156, 0.466);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.modal-content button:hover {
    background-color: rgba(120, 11, 245, 0.589)
};
